body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.main-title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  color: blue;
}

.main-section {
  background-color: white;
}

.table {
  text-align: center;
}

th {
  text-align: center;
  background-color: lightblue;
}

.block {
  display: block;
}

.octicon {
  position: fixed;
  right: 45px;
  bottom: 50px;
  font-size: 300%;
  z-index: 1000;
  color: white;
}

.plus {
  right: 50px !important;
}

.home {
  border-left:50px;
}

.circle {
  z-index: 999;
  color: blue;
  font-size: 800%;
  bottom: 10px;
  right: 36px;
}

.center {
  display: block;
  align-items: center;
  margin-top: -50px;
}

.form-control {
  width: 100%;
}

.box {
  border-right: 100px;
}

.btn {
  margin-top: 30px;
  max-height: 100px;
  border-right: -10px;
}

img {
  height: 35vw;
  max-height: 300vw;
  padding-left: 32.5vw;
  align-self: center;
}

.paragraph {
  margin: 20px;
}

.bruce {
  text-align: center;
  margin-top: 30px;
}

.date {
  text-align: center;

}
